/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General Styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ops: #012D5B; 
    --equal: #FD656B;
    --text: #aaacad;
}
.header {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 32px;
    width: 100%;
}
.container {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 32px;
    width: 100%;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}
.flex-20 {
    flex: 0 1 20%;
}
.flex-25 {
    flex: 0 1 25%;
}
.flex-70 {
    flex: 0 1 70%;
}
.flex-30 {
    flex: 0 1 30%;
}
h1 {
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 4rem;
}
.output {
    background-color: black;
    color: white;
    padding: 2rem 4rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: right;
    margin-bottom: 1rem;
}

.ops {
    background-color: #710133;
    color: white;
    padding: 1.8rem 4.5rem;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    border-radius: 1rem;
}
.divThree {
    margin: 2rem 0;
    border: 1px solid black;
}
.numbers {
    background-color: #CFCFCF;
    font-size: 2.5rem;
    margin: 0.5rem;
    padding: 1rem 4rem;
    text-align: center;
    border-radius: 1rem;
    font-weight: 400;
}
.equal {
    background-color: #018080;
    color: white;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    padding: 8rem 2rem;
    border-radius: 1rem;
    margin: 1rem;
}
.clear {
    background-color: #3D1B10;
    color: white;
}